.container {
    background-color: var(--bg);
    flex-direction: row;
    max-width: 100%;
    height: 100%;

}
.drinks-container-header{
    display: flex;
    flex-direction: column;
    flex-direction: row;
    padding-top: 2%;
    width:100%;
    border-bottom: 1px solid;
      
}

.drinks-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 1em;
    height: 80%;
    width: 100%;
    overflow: auto;
}

#drinks-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 1em;
    background-color: white;
    justify-content: center;
}
/*To make rounded edges on the drink-container*/
.drinks-container-wrapper{
    display: flex;
    flex-wrap: wrap;
        background-color: white;
    flex-grow: 1;
    margin: 0.5em;
    height: 100%;
    width: 66%;
    border-radius: 1%;    
}
/*To make rounded edges on the tab-container*/
.tab-container-wrapper{
  display: flex;
    flex-wrap: wrap;
    background-color: white;
    flex-grow: 1;
    margin: 0.5em;
    height: 100%;
    width: 33%;
    border-radius: 1%;

}

.tab-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: flex-start;
    text-align: center;
    
    flex-grow: 2;
    margin: 0.5em;
    padding: 1em;
    height: 92%;
    width: 33%;
}


.flexButtons{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0.5em;
    height: 5%;
    width: 60.5%;
    justify-content: space-evenly;
}



.drink {
    display: flex;
    border: solid red;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
}
.beerDiv {
    /* display: inline-block; */
    float: left;
    /* line-height: 150px; */
    height: 280px;
    width: 200px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-image: url('../images/beer.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    /* opacity: 0.5; */
    background-size: contain;
    font-size: large;
    font-style: italic;
    color: #424242;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    display: inline-block;
}

.beerDiv:hover { 
    opacity: 0.5;
  }




.whiskeyDiv {
    float: left;
    /* line-height: 150px; */
    text-align: center;
    height: 280px;
    width: 200px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-image: url('../images/whiskey.jpeg');
    background-repeat: no-repeat;
    background-position: bottom;


    /* opacity: 0.5; */
    background-size: contain;
    font-size: large;
    font-style: italic;
    color: #424242;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.whiskeyDiv:hover { 
    opacity: 0.5;
  }

.wineDiv {
    float: left;
    /* line-height: 150px; */
    text-align: center;
    height: 280px;
    width: 200px;
    margin-right: 15px;
    margin-bottom: 15px;
    justify-content: center;
    background-image: url('../images/wine.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    /* opacity: 0.5; */
    background-size: contain;
    font-size: large;
    font-style: italic;
    color: #424242;
        border-radius: 10px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.wineDiv:hover { 
    opacity: 0.5;
  }

#whiskeyDivId{
    background-image: url('../images/whiskey.jpeg');
}


@media only screen and (max-width: 600px) {
  .drink {
    height: 100px;
    width: 100px;
  }
}

.header > h1{
    background-color: var(--bg);
    height: 3em;
    margin: 0;
    color: white;
}

.button-container-vip {
     display: flex;
     flex-direction: column;
     background-color: white;
     justify-content: flex-start;
     text-align: center;
     flex-grow: 2;
     height: 20%;
     width: 100%;

 }

.button-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: flex-start;
    text-align: center;
    flex-grow: 2;
    height: 10%;
    width: 100%;
}

.pay-button {
    height: 50px;
    background-color: #23CC0E;
    border: none;
    color: white;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 2px 2px;
    opacity: 1;
    transition: 0.4s;
    cursor: pointer;
    padding-top: unset;
    padding-bottom: unset;
}
.pay-button:hover {
    opacity: 0.6;
}

.vip-button {
    height: 50px;
    background-color: #387F2F;
    border: darkred;
    color: white;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 2px 2px;
    opacity: 1;
    transition: 0.4s;
    cursor: pointer;
    padding-top: unset;
    padding-bottom: unset;
}

.vip-button:hover {
    opacity: 0.6;
}

@media only screen and (max-width: 600px) {
    .vip-button {
        font-size: 12px;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    border-radius: 12px;
    padding: 2px 16px;
    font-size: 1.5em;
    background-color: white;
    color: #5cb85c;
}

@media only screen and (max-width: 1000px) {
    .modal-header {
        font-size: 1.2em;
    }

    #vip-modal-header {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 500px) {
    .modal-header {
        font-size: 0.7em;
    }
    .modal-footer {
        font-size: 1.5em;
    }

    #vip-modal-header {
        font-size: 0.6em;
    }
}


.modal-body {
    padding: 2px 16px;
}


.modal-footer {
    padding: 2px 16px 100px;
    background-color: white;
    font-size:1.7em;
    color: #5cb85c;
    font-weight: bold;
    border-radius: 12px;

}


.modal-content {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: #fefefe;
    top: 20%;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    height: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}


@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 20%; opacity: 1}
}

.tab-drink-list{
    height: 80%;
}

#creditString {
    text-align: end;
    color: white;
}


.switch-view-button {
    border-radius: 10px;
    background-color: white;
    color: black;
    float: right;
}

.rbContainer {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

/* Hide the browser's default radio button */
.rbContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.rbContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.rbContainer input:checked ~ .checkmark {
  background-color: #268406;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.rbContainer:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.rbContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.rbContainer .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    background: white;
}


/* SEARCH FIELD*/
.searchDiv{
  width: 50px;
  height:10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../images/search.png');
  background-size: contain; 
  

  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.searchDiv:focus {
  width: 20%;
}

/*MODAL*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#tab-items {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#tab-items ul{
    list-style: none;
}

.tab-item {
    float: left;
    /* background-color: rgba(0, 0, 0, 0.7); */
    border: 1px solid #000;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* .tab-item-img {

} */

.tab-item-name {
    width: 220px;
    height: 50px;
    font-family:sans-serif;
    margin-right: 40px;
}

.tab-item-name p {
    width: 220px;
    height: 50px;
    display: table-cell;
    vertical-align:middle;
    text-align:center;
    color: #000;
    text-decoration: none;
}

.tab-item-control {
    line-height:  50px;
    margin-right: 20px;
}

.tab-item-price {
    width: 60px;
    margin-right: 10px;
}


/* Modal Content/Box 
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  /* padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */


/* The Close Button */
/*.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
/*.modal-header {
  padding: 2px 16px;
  background-color: #db9046;
  color: white;
}

/* Modal Body */
/*.modal-body {padding: 2px 16px;}

/* Modal Footer */
/*.modal-footer {
  padding: 2px 16px;
  background-color: #db9046;
  color: white;
}

/* Modal Content */
/*.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}
