@import url('https://fonts.googleapis.com/css?family=Eagle+Lake|Roboto');

:root {
    --bg: #874317;
}

html, body {
    background-color: var(--bg);
    height: calc(100vh - 300px);
    font-family: 'Roboto', sans-serif;
}

h1 {
    width: 100%;
    background-color: white;
    font-family: 'Eagle Lake', cursive;
    font-size: 3em;
}

.container {
    background-color: white;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
}

.header > h1{
    text-align: center;
    justify-content: center;
    height: 200px;
}


.login-container {
    flex: 1;
    text-align: center;
    justify-content: center;
}