@import url('https://fonts.googleapis.com/css?family=Eagle+Lake|Roboto');

:root {
    --bg: #874317;
}

html, body {
    background-color: var(--bg);
    height: calc(100vh - 300px);
    font-family: 'Roboto', sans-serif;
}

h1 {
    width: 100%;
    background-color: white;
    font-family: 'Eagle Lake', cursive;
    font-size: 3em;
}

h2 {
    font-family: 'Eagle Lake', cursive;
    font-size: 2em;
}

button {
    height: 35px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #7F573C;
    border: none;
    color: white;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    opacity: 1;
    transition: 0.4s;
    cursor: pointer
}

button:hover {
    opacity: 0.6;
}

.container {
    background-color: white;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
}

.header > h1{
    text-align: center;
    justify-content: center;
    height: 200px;
}


.login-container {
    flex: 1;
    text-align: center;
    justify-content: center;
}

.logo {
    display:block;
    margin-top: 0%;
    margin-left: 43.5%;
    height: 130px;
    width: 130px;


}