.container {
    background-color: transparent;
    flex-direction: row;
    max-width: 100%;
    height: 100%;
}

.header > h1{
    background-color: transparent;
    color: white;
}

.table-container {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    flex-grow: 1;
    margin: 0.5em;
    padding: 1em;
    height: 90%;
    width: 66%;
    justify-content: space-evenly;
    overflow: auto;
}

.table-container-wrapper{
    display: flex;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    flex-grow: 1;
    margin: 0.5em;
    height: 100%;
    width: 66%;
    border-radius: 1%;  
    border: 0.5px solid #888;

}


.tab-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    text-align: center;
    flex-grow: 2;
    margin: 0.5em;
    padding: 1em;
    height: 90%;
    width: 33%;
    overflow: auto;

}

.tab-container-wrapper{
  display: flex;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    flex-grow: 1;
    margin: 0.5em;
    height: 100%;
    width: 33%;
    border-radius: 1%;
    border: 0.5px solid #888;

}


.table {
    display: flex;
    border: 0.5px solid black;
    height: 200px;
    width: 200px;
    border-radius: 10pc;
    justify-content: center;
    align-items: center;
    margin: 1em;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    background-image: url('../images/wood.jpg');
    background-size: cover;
    z-index: 2;
    color:white;
    font-size: x-large;
    z-index: 3;
    

}

.active-table {
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    animation: pulse 1s infinite;

}

#tab-content {
    visibility: hidden;
    height: 100%;
}

#tab-footer {
    display: flex;
    justify-content: space-evenly;
    opacity: 0.4;
    border-top: 2px solid#888; 
}

@media only screen and (max-width: 600px) {
  .table {
    height: 100px;
    width: 100px;
  }
}

.headerText > h1{
    background: transparent;
    height: 3em;
    margin: 0;
    color: white;
    text-align: center;
    font-size: xx-large;
   -webkit-text-stroke-color: black;

}



.switch-view-button {
    border-radius: 8px;
    background-color: white;
    color: black;
    float: right;
}



@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 30px rgba(255,0,0, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255,0,0, 0.4);
        box-shadow: 0 0 0 0 rgba(255,0,0, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 30px rgba(255,0,0, 0);
        box-shadow: 0 0 0 30px rgba(255,0,0, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255,0,0, 0);
         box-shadow: 0 0 0 0 rgba(255,0,0, 0);
    }
}

/* Style buttons */
.btn {
    height: 60px;
    width: 60px;
    border: solid 2px black;
    border-radius: 16pc;
    background-color: white;

    font-size: 16px; 
    cursor: pointer; 
}

.check {
    color: white;
    background-color: green;
}

.times {
    color: white;
    background-color: red;
}

.fas {
    font-weight: 900;
    align-items: center;
    height: 10px;
    vertical-align: middle;
}

/*.btn-animation {
  animation: pulse 0.5s;
}*/

.btn:focus {
    outline: none;
}

#logout-button {
    background-color: chocolate;
    float: left;
}